@using System.Web.UI.WebControls

@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="ExamSolution">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Staring Page</title>
    @System.Web.Optimization.Styles.Render("~/Content/Css")
</head>
<body>
    <base href="/">


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="Home">Home</a></li>
                <li><a ui-sref="About">About</a></li>
                <li><a ui-sref="Contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a ui-sref="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" ui-view>
    </div>

    <div class="modal-footer">
        <h3>Developer</h3>
        <p>Rohit Jain</p>
        <p>(non editable)</p>
    </div>

    
    @System.Web.Optimization.Scripts.Render("~/bundles/library")
    @System.Web.Optimization.Scripts.Render("~/bundles/app")

</body>
</html>
